.menu-button-wrap {
  position: fixed;
  left: 11px;
  top: 100px;
  z-index: 11;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-button-wrap .menu-button {
  cursor: pointer;
  width: 48px;
  height: 48px;
  border: none;
  background: 0 0;
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-button-wrap .menu-button span::after, .menu-button-wrap .menu-button span::before {
  content: "";
  width: 2px;
  height: 48px;
  position: absolute;
  background-color: #111;
  left: 50%;
  top: 50%;
  display: block;
  will-change: transform;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-button-wrap .menu-button span::before {
  transform: translate(-5px, -50%) scaleY(0.7) rotate(180deg);
}
.menu-button-wrap .menu-button span::after {
  transform: translate(5px, -50%) scaleY(0.7) rotate(0deg);
}
.menu-button-wrap.open {
  transform: translateX(80px);
  transition-delay: 0.2s;
}
.menu-button-wrap.open .menu-button {
  transform: rotate(90deg);
}
.menu-button-wrap.open span::before {
  background-color: white;
  transform: translate(-50%, -50%) rotate(315deg);
}
.menu-button-wrap.open span::after {
  background-color: white;
  transform: translate(-50%, -50%) rotate(45deg);
}
@media only screen and (max-width: 768px) {
  .menu-button-wrap {
    display: none;
  }
}

.menu-holder .menu-inside {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #111;
  z-index: 10;
  will-change: transform;
  transition: transform 1s cubic-bezier(1, 0, 0, 1);
  color: white;
  transform: translateX(-100%);
}
.menu-holder .menu-inside .menu-nav-container {
  position: relative;
  left: 220px;
  top: 100px;
  overflow: hidden;
  width: calc(90vw - 260px);
}
.menu-holder .menu-inside .internal-nav-links li {
  margin-bottom: 20px;
  list-style: none;
}
.menu-holder .menu-inside .internal-nav-links li a {
  font-size: clamp(32px, 4vw, 52px);
  line-height: 1.1em;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  color: white;
  position: relative;
  z-index: 1;
}
.menu-holder .menu-inside .internal-nav-links li a::before {
  content: "";
  width: 0%;
  height: 50%;
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background-color: rgb(255, 49, 49);
  transition: width 0.5s ease;
}
.menu-holder .menu-inside .internal-nav-links li:hover {
  cursor: pointer;
}
.menu-holder .menu-inside .internal-nav-links li:hover a {
  font-weight: 800;
}
.menu-holder .menu-inside .internal-nav-links li:hover a::before {
  width: 100%;
}
.menu-holder .menu-inside .internal-nav-links li:hover img {
  opacity: 1;
  transform: translate(30px, -50%);
}
.menu-holder .menu-inside .internal-nav-links li img {
  display: block;
  pointer-events: none;
  aspect-ratio: 16/9;
  opacity: 0;
  width: 30vw;
  position: absolute;
  top: 50%;
  right: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-30px, -50%);
  transition: transform 0.5s ease-in-out;
  filter: brightness(1.3) grayscale(0.54) contrast(0.8) saturate(1.2) sepia(0.21);
}
.menu-holder .menu-inside .external-nav-links {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.menu-holder .menu-inside .external-nav-links li {
  margin-right: 30px;
  list-style: none;
}
.menu-holder .menu-inside .external-nav-links li a {
  transform: translate(-100%);
  opacity: 0;
  color: white;
  transition: all 0.3s cubuic-bezier(0.55, 0.055, 0.675, 0.19);
}
.menu-holder .menu-inside .external-nav-links li:last-of-type {
  margin-right: 0;
}
.menu-holder .menu-inside.open {
  transform: translateX(0);
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(1n) a {
  transition-delay: 0.8s;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(2n) a {
  transition-delay: 0.9s;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(3n) a {
  transition-delay: 1s;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(4n) a {
  transition-delay: 1.1s;
}
.menu-holder .menu-inside.open .internal-nav-links li:nth-child(5n) a {
  transition-delay: 1.2s;
}
.menu-holder .menu-inside.open .internal-nav-links li a {
  transform: translateX(0);
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(1n) a {
  transition-delay: 1.2s;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(2n) a {
  transition-delay: 1.3s;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(3n) a {
  transition-delay: 1.4s;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(4n) a {
  transition-delay: 1.5s;
}
.menu-holder .menu-inside.open .external-nav-links li:nth-child(5n) a {
  transition-delay: 1.6s;
}
.menu-holder .menu-inside.open .external-nav-links li a {
  transform: translateX(0);
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@media only screen and (max-width: 768px) {
  .menu-holder .menu-inside .menu-nav-container {
    left: 10%;
    width: 100vw;
  }
  .menu-holder .menu-inside .menu-nav-container img {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */